/.idea

###

logs/*
bin/*

docker-compose.yml

###

app/bin/.phpunit
app/vendor
app/public_html/bundles/
app/var

app/.phpunit
app/.phpunit.result.cache
app/phpunit.xml
app/phpcs.xml
app/.phpcs-cache
